/* #home, #about, #events, #teams {
    opacity: 0;
} */

div#show {
    opacity: 0;
}

.open-animation {
    transition: all 500ms ease-in;
    animation: open_animate 3s ease;
}

/* .close-animation {
    opacity: 0;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -999;
} */

.open-animate-loading {
    transition: all 500ms ease-in;
    animation: open_animate 2s ease;
}

@keyframes open_animate {
    0% {
        transform: translateX(1000px);
    }
    50% {
        transform: translateX(0px);
    }
}

.rain {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: -30px;
}

.rain span{
    margin: 0 2px ;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    animation: rain 2s linear infinite;
    animation-duration: calc(15s / var(--i));
}

@keyframes rain {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: scale(0);
        transform: translateY(115px)
    }
}